# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/bankMock?retryWrites=true&w=majority

# API Configuration
API_VERSION=v1

# OTP Configuration
OTP_EXPIRY_MINUTES=5
